{% extends 'base.html' %}

{% block content %}
<div class="">
    <p>showing results for: {{search | title}}</p><br>
</div>
<div class="row">
    {% for posts in final_listings_list %}
    <div class="col s3">
        <div class="card small">
            <div class="card-image">
                <a href="{{posts.1}}"><img src="{{posts.3}}" alt=""></a>
            </div>
            <div class="card-content">
                <p>{{posts.0}}</p>
            </div>
            <div class="card-action">
                <a href="{{posts.1}}">click here for more info <br>price: {{posts.2}}</a>

            </div>
        </div>
    </div>


    {% endfor %}
</div>


{% endblock content %}
