.card small{
    height: 100%;
    overflow: hidden;
}

.card-image img{
    height: 250px;
    overflow: hidden;
}

body {
display: flex;
min-height: 100vh;
flex-direction: column;
}

main {
flex: 1 0 auto;
}

